@font-face {
  font-family: 'Frijole-Regular';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Frijole-Regular.woff2') format('woff2'),
    url('../fonts/Frijole-Regular.woff') format('woff'),
    url('../fonts/Frijole-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'witcher-style';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/witcher-style.woff2') format('woff2'),
    url('../fonts/witcher-style.woff') format('woff'),
    url('../fonts/witcher-style.otf') format('otf');
}

@font-face {
  font-family: 'CarterOne-Regular';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/CarterOne-Regular.woff2') format('woff2'),
    url('../fonts/CarterOne-Regular.woff') format('woff'),
    url('../fonts/CarterOne-Regular.ttf') format('tff');
}