.footer {
  padding: 3.125rem 0px;
  background-color: $color-main;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -0.3125rem;
    width: 100%;
    height: 0.625rem;
    z-index: 99;
    @include background('@img/line__gold.png', null, no-repeat, null, top, cover);
    @include background-image-webp('@img/line__gold.webp');
  }




  //footer - media (1200px)
  @media (max-width: 75rem) {
    padding: 1.875rem 0;
  }

  // .footer__container
  &__container {
    @include flexbox(space-between, center);

    @media (max-width: 75rem) {
      @include flexbox(center, center, column, 1.25rem);
    }
  }

  // .footer__logo
  &__logo {
    width: 12.5rem;
    text-transform: uppercase;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: 75rem) {
      order: 2;
    }
  }

  // .footer__fraction
  &__fraction {
    @media (max-width: 75rem) {
      order: 1;
    }
  }

  // .footer__fraction-list
  &__fraction-list {
    display: flex;
  }

  // .footer__fraction-item
  &__fraction-item {
    width: 2.5rem;
    height: 3.125rem;

    &:not(:last-child) {
      margin: 0px 1.25rem 0px 0px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  // .footer__nav
  &__nav {
    @include background('@img/cut.png', null, no-repeat, null, center, null);
    @include background-image-webp('@img/cut.webp');

    @media (max-width: 75rem) {
      order: 3;
    }

    @media (max-width: 48rem) {
      width: 100%;
    }
  }

  // .footer__list
  &__list {
    @include flexbox(center, center);
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 36rem) {
      @include flexbox(center, center, column);
    }
  }

  // .footer__item
  &__item {
    @media (max-width: 36rem) {
      width: 100%;

      &:not(:last-child) {
        margin: 0px 0px 0px 0px;
      }
    }

    &:not(:last-child) {
      margin: 0px 1.875rem 0px 0px;
    }
  }

  // .footer__link
  &__link {
    display: inline-block;
    font-size: 1.25rem;
    padding: .5rem .9375rem;
    text-transform: uppercase;
    color: $color-gray;
    font-family: 'SF-Pro-Display-Bold';

    &:hover {
      box-shadow: inset 1px 1px 10px #000;
      background: rgba(128, 128, 128, .3);
      border-radius: .375rem;
    }

    @media (max-width: 36rem) {
      font-size: 1rem;
      padding: .9375rem .3125rem;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #fff;

      &:not(:last-child) {
        margin: 0px 0px 0px 0px;
      }
    }
  }
}