//!Переменные
$font-default: "witcher-style", sans-serif;
$fsize-default: 16px;
//===============================================
//MEDIA
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1260px;
$xxl: 1410px;

//MEDIA MOBILEFIRST
$msm: 575px;
$mmd: 767px;
$mlg: 991px;
$mxl: 1219px;
$mxxl: 1409px;

//===============================================

$color-default: #11192b;
$color-main: #171a21;
$color-accent: #a17b34;
$color-ognac: #a5351d;
$color-txt: #d6d6d6;
$color-gray: #808080;
$color-genoa: #177B57;

//==============Шаблоны===========================